* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #ffffff;
}
.container {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 100px;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: rgba(231, 96, 56, 1);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
/* circle */
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: rgba(231, 96, 56, 1);
  color: white;
  text-shadow: 0 0 10px rgba(231, 96, 56, 1);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 rgba(231, 96, 56, 1), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  /* color: white; */
  opacity: 0.5;
  font-weight: bolder;
}

/* courtesy of Jove Angelevski https://codepen.io/AlbertFeynman/pen/BPvzWZ */

header {
  background-color: rgb(97, 97, 97);
  display: flex;
  align-items: center;
}

#logo {
  height: 80px;
  width: 80px;
  padding: 10px;
}

#allStocksList {
  padding-top: 100px;
}

#title {
  color: white;

  font-weight: 900;
}

#currentPage {
  display: flex;
  color: white;
  font-weight: 300;
  justify-content: flex-end;
}

#pieGraph {
}

#ticker {
  display: inline-block;
  font-weight: 700;
  /* padding-left: 300px; */
}
#name {
  display: inline-block;
  font-weight: 300;
  padding-left: 50px;
}
#price {
  display: inline-block;
  font-weight: 700;
  /* padding-left: 30px; */
}

#change {
  display: inline-block;
  font-weight: 300;
  /* padding-left: 30px; */
}

#desc {
  font-weight: 300;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
}

.nav li {
  display: flex;
  justify-content: center;
  width: 60px;
  cursor: pointer;
}
.nav ul :hover {
  background-color: rgb(190, 190, 190);
  border-radius: 3px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 15px;
  color: white;
}

#listCom {
  color: white;
  text-decoration: none;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

#about {
  padding-left: 200px;
  padding-top: 10px;
}
#data {
  padding-left: 200px;
  padding-top: 10px;
}

footer {
  padding: 60px;
  padding-left: 200px;
  font-size: 14px;
  color: white;
  background-color: #151515;
}

@media (max-width: 300px) {
  * {
    /* background-color: aqua; */
    /* padding-left: 0; */
  }
  #about {
    padding-left: 5px;
    padding-top: 5px;
  }
  #data {
    padding-left: 5px;
    padding-top: 5px;
  }
  #desc {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }
  #lineGraph {
    height: 2000px;
  }
}
@media (max-width: 600px) {
  * {
    /* background-color: aqua; */
    /* padding-left: 0; */
  }
  #about {
    padding-left: 10px;
    padding-top: 10px;
  }
  #data {
    padding-left: 10px;
    padding-top: 10px;
  }
  #desc {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  #lineGraph {
    height: 2000px;
  }
}
@media (max-width: 800px) {
  * {
    /* background-color: aqua; */
    /* padding-left: 0; */
  }
  #about {
    padding-left: 15px;
    padding-top: 15px;
  }
  #data {
    padding-left: 15px;
    padding-top: 15px;
  }
  #desc {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
  #lineGraph {
    height: 2000px;
  }
}
