header {
  background-color: rgb(97, 97, 97);
  display: flex;
  align-items: center;
}

#logo {
  height: 80px;
  width: 80px;
  padding: 10px;
}


#title {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}

#currentPage {
  display: flex;
  color: white;
  font-weight: 300;
  justify-content: flex-end;
}

#lineGraph {
  /* padding: 100px; */
}

#optionsButton {
  color: green;
  text-decoration: none;
  border-style: solid;
  font-size: 10;
  width: 200px;
  height: 60px;
  text-align: center;
  vertical-align:middle;
  display:table-cell;
  border-radius: 5px;
}
#optionsButton :hover {
  color: red;
}

#exp {
  border: solid;
  border-width: 1px;
  border-color: rgb(107, 214, 107);
  color: rgb(107, 214, 107);
  background-color: white;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}